/* div{
    color:green;
    background-color: forestgreen;
    width: 20%;
    height:300px;
} */
#welcome{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 14x;
    color: green

}

#DOOMED{
    text-align: center;
    border: 5px solid orangered;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 50px;
    color: yellowgreen
}

#blankbox{
    border-style: solid;
    color:red;
    width: 120px
}

#blankbox2{
    position: relative;
    top: 30px;
    border-style: solid;
    color: blue;
    width: 120px
    
}
#youtubelogo{
    width: 20px;
    
}

#instagramlogo{
    width: 20px;
}

#twitterlogo{
    width: 40px;
}

#facebooklogo{
    width: 20px;
    
}
.MyBiography{
    position: relative;
    top: -140px;
    right: -575px;
}
.home{
    position: relative;
    top: -80px;
    right: -1010px;
}
#snapchatlogo{
    width: 25px;
    
}

#homelogo{
    width: 20px;
    
}

#QUIZ{
    position: relative;
    top: -140px;
    right: -975px;
}



#skullcrossbones{
    width: 80px;

}

#satankissing{
    width: 1220px;
    
}
    
#Quizlogo{
    width: 90px;
    position: relative;
    top: -150px;
    right: -1050px;
}

#images2{
    position: relative;
    top: 90px;
    left: -275px;
}

#arrowimg{
    position: relative;
    top: 100px;
    left: -100px;
}

#IMG-0440{
    width: 190px;
}

#IMG-0441{
    width: 190px;
}

#IMG-0446{
    width: 190px;
}

#IMG-0451{
    width:190px;
}

#IMG-0452{
    width:190px;

}

#IMG-0454{
    width:190px;
}

#IMG-0524{
    width: 190px;
}

#IMG-0527{
    width: 190px;
}

#IMG-0534{
    width: 190px;
}

#IMG-0543{
    width: 190px;
}

#IMG-0545{
    width: 190px;
}

#IMG-0550{
    width: 190px;
}

#places{ text-align: center;
    border: 5px solid orangered;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 50px;
    color: teal
}

#PLACES2{
    position: relative;
    top: 50px;
    left:-1150px;

}

#PLACES3{
    position: relative;
    top: 150px;
    left:10px;

}

#williamsburgbridge{
    width: 100%;
}


#QUIZ2{
    border-width: 10px;
    border-color: gold;
    border-style: dotted solid;
    width: 1100px;
    height: 1100px;
 
}